.container {
    float:left;
    width:auto;
    height:500px;
    background:#fff;
    border: solid 1px #a2a2a2
}

.baloes{
    font-size: 40px;
}

.tabelaBaloes{
    border:0;
}

.tabelaCronometro{
    width: 140px; 
    height: 132px;
}

.imgCronometro{
    background: url('imagens/cronometro.png');
    text-align: center;
}

.numCronometro{
    color:red;
    font-size: 30px
}

.cenario{
    float:left;
    width: 600px;
    height: 500px;
    background:url('imagens/cenario.png');
    background-position: bottom;
}