.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paragrafo{
    margin-bottom: 50px;
}

.texto-nivel{
    font-size: 16px;
}

.botao-comecar{
    cursor: pointer;
}

.jogo-table{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width:auto;
    height:500px;
    background:#fff;
}

.table-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table{
    border: 0;
    margin-bottom: 50px;
}

.table-background{
    border: 0;
    width: 140px; 
    height: 132px;
}

#baloes_inteiros, #baloes_estourados, #cronometro{
    font-size: 40px;
}

#cronometro{
    color:red;
    font-size: 30px
}

#cenario{    
    float:left;
    width: 600px;
    height: 500px;
    background:url('imagens/cenario.png');
    background-position: bottom;
}
    